<p id="notice"><%= notice %></p>

<h1>Home</h1>


<ul>
  <li> <%= link_to "Developers", developers_path %></li>
  <li> <%= link_to "Games", games_path %></li>
  <li> <%= link_to "Users", control_users_index_path %></li>
</ul>
