<p id="notice"><%= notice %></p>

<h1>Developers</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= image_tag developer.avatar.url(:thumb) %><td>
        <td><%= developer.name %></td>
        <td><%= link_to 'Show', developer %></td>
        <% if policy(@developers).index? %>
        <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
        <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(@developers).index? %>
<%= link_to 'New Developer', new_developer_path %>
<% end %>
