<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Release</th>
      <th>Developer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag game.avatar.url(:thumb) %><td>
        <td><%= game.name %></td>
        <td><%= game.genre %></td>
        <td><%= game.description %></td>
        <td><%= game.release %></td>
        <td><%= game.developer.name %></td>
        <td><%= link_to 'Show', game %></td>
        <% if policy(@games).index? %>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>

<br>
<% if policy(@games).index? %>
<%= link_to 'New Game', new_game_path %>
<% end %>
