<p id="notice"><%= notice %></p>

<p>

  <strong>Avatar:</strong>
  <%= image_tag @game.avatar.url(:medium) %>
  <hr>

  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Release:</strong>
  <%= @game.release %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
